:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

.container {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    content: none;
    background-color: yellow;

}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    top: 20px;
    transition:transform 1s;

}

#menu::after {
    top: -20px;
    transition:transform 1s;
}

#menu:hover:before {
    top: -1px;
    transform: rotate(45deg);
    transition: all 2s ease 0s;
}

#menu:hover:after {
    top: 1px;
    transform: rotate(-45deg);
    transition: all 2s ease 0s;
}

#menu:hover {
    background-color: transparent;
}







